{% extends "base.html" %}


{% block title %}Organizer's Page{% endblock %}

{% block navbar %}
 <!-- this overrides the definition of the navbar in the -->
{% endblock %} 

{% block content %}

<div class="container event-form">
  <br>
    <br>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}" role="alert">
        <button type="button" class="btn-close" data-dismiss="alert"></button>
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% block page_content %}
    
          <section class="vh-85">
            <div class="container h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-10 col-xl-10">
                  <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                      <div class="row align-items-center justify-content-center">
                        <div class="col-12 col-md-8">
                          <p style="text-align: left;"><a href="/organizer"><i class="fa-solid fa-arrow-left" style="color: #FF7F50; font-size: 1.75rem;"></i></a></p>
                          <div class="page-header-create-event">
                            <h1>Create Event</h1>
                          </div>
                            {{ wtf.quick_form(form) }}
                        </div>
                      </div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

    {% endblock %}
</div>
{% endblock %}
