{% extends "base.html" %}

{% block title %}Organizer's Page{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}
        <div class="page-header">
            <h1>Create Event</h1>
        </div>
        {{ wtf.quick_form(form) }}
        <br />
        <p><a href="/organizer">Return to main.</a></p>
    {% endblock %}
</div>
{% endblock %}