{% extends "base.html" %}
<!-- This is the general template for showcasing events -->

{% block title %}Event's Page{% endblock %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}" role="alert">
        <button type="button" class="btn-close" data-dismiss="alert"></button>
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% block page_content %}
        <!-- Creates a structured view of an event, displaying its name, description, venue, and an image banner related to the event, -->
        <div class="row">
            <div class="page-header">
                <div style="text-align: center;">
                    <img src="{{ url_for ('static', filename='event-assets/' + event.image)}}" class="event-banner" alt="Event Banner">
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                {% if event.event_dayofweek == 0 %}
                <p style="font-weight: 600; font-size: 1.125em;">Monday, {{event_month}} {{event_day}}</p>
                
                {% elif event.event_dayofweek == 1 %}
                <p style="font-weight: 600; font-size: 1.125em;">Tuesday, {{event_month}} {{event_day}}</p>
                
                {% elif event.event_dayofweek == 2 %}
                <p style="font-weight: 600; font-size: 1.125em;">Wednesday, {{event_month}} {{event_day}}</p>

                {% elif event.event_dayofweek == 3 %}
                <p style="font-weight: 600; font-size: 1.125em;">Thursday, {{event_month}} {{event_day}}</p>

                {% elif event.event_dayofweek == 4 %}
                <p style="font-weight: 600; font-size: 1.125em;">Friday, {{event_month}} {{event_day}}</p>

                {% elif event.event_dayofweek == 5 %}
                <p style="font-weight: 600; font-size: 1.125em;">Saturday, {{event_month}} {{event_day}}</p>
                
                {% else %}
                <p style="font-weight: 600; font-size: 1.125em;">Sunday, {{event_month}} {{event_day}}</p>     
                
                {% endif %}
                
                <h1>{{event.name}}</h1>
                <p>{{event.short_description}}</p>

                <div class="event-section">
                    <h4 class="event-section-header">Date and Time</h4>
                    <p>Starts On: {{event.start_date}}</p>
                    <p>Ends On: {{event.end_date}}</p>
                    <p>From: {{event.start_time}} to {{event.end_time}} EST</p>
                </div>

                <div class="event-section">
                    <h4 class="event-section-header">Location</h4>
                    {% if event.is_online == 1 %}
                    <p>Venue: The event is online. The organizer will reach out to you on your registered email ID.</p>
                    {% else %}
                    <p>Venue: {{event.venue}}</p>
                    {% endif %}
                </div>

                <div class="event-section">
                    <h4 class="event-section-header">About this event</h4>
                    {% if event.long_description != ""%}
                    <p>{{event.long_description}}</p>
                    {% else %}
                    <p>The organizer did not provide detailed information about the event.</p>
                    {% endif %}
                </div>

                <div class="event-section">
                    <h4 class="event-section-header">Ticket Price</h4>
                    {% if event.ticket_price == 0.0 %}
                        <p>Tickets Cost: Free</p>
                    {% else %}
                        <p>Tickets Cost (per person): {{event.ticket_price}} CAD</p>
                    {% endif %}
                </div>

                {% if event.additional_info != "" %}
                <div class="event-section">
                    <h4 class="event-section-header">Additional Information</h4>
                    <p>Venue: {{event.additional_info}}</p>
                </div>
                {% endif %}

                {% if event.redirect_link != "" %}
                    <button type="button" class="btn btn-light" href="{{event.redirect_link}}">Register</button>
                {% else %}
                <div class="d-flex">
                    <form action="/events/register/{{event.id}}" method="post" class="me-3"> 
                        <input type="submit" id="register_btn" class="btn btn-primary btn-lg" value="Register">
                    </form>
                    <form action="/events/{{event.id}}/calendar_invite" method="get"> 
                        <input id="add_calendar_btn" type="submit" tabindex="0" class="btn btn-primary btn-lg" role="button" data-toggle="popover" data-content="Thank you for downloading the iCal invite!" value="Add to Calendar">
                    </form>
                </div>
                    <script>
                        $(document).ready(function(){
                          $('[data-toggle="popover"]').popover();   
                        });
                    </script>
                {% endif %}

                <br>
                <br>

                <!-- This is a check to ensure user is registered and the event is already over. Only then would the option to rate the event appear -->
                {% if is_past_event and is_registered %}
                <div class="event-section">
                    <h4 class="event-section-header"> You previously rated this event: </h4>
                    <!-- This is a check to see if previous rating existed. If it does then those many stars will get filled up -->
                    {% if prev_rating > 0 %}
                    <div class="previous_rating">
                        {% for i in range(1, 6) %}
                            {% if prev_rating >= i %}
                                <span class="filled-star">★</span>
                            {% else %}
                                <span class="empty-star">★</span>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}

                    <br>
                    <br>

                    <h4 class="event-section-header">Rate this event:</h4>
                    <form action="/events/submit_rating/{{event.id}}" method="post">
                        <input type="hidden" name="event_id" value="{{ event.id }}">
                        <ul class="rate-area">
                            <input type="submit" id="5-star" name="rating" value="5" /><label for="5-star" title="Amazing">5 stars</label>
                            <input type="submit" id="4-star" name="rating" value="4" /><label for="4-star" title="Good">4 stars</label>
                            <input type="submit" id="3-star" name="rating" value="3" /><label for="3-star" title="Average">3 stars</label>
                            <input type="submit" id="2-star" name="rating" value="2" /><label for="2-star" title="Not Good">2 stars</label>
                            <input type="submit" id="1-star" name="rating" value="1" /><label for="1-star" title="Bad">1 star</label>
                        </ul>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
        <script type=text/javascript>
            console.log("JS: Is running");
            console.log("is_registered: {{is_registered}}");
            //check below is for past events. If met, button is disabled and users cannot register
            //Disable this check to be able to test the ratings function easily.
            if("{{is_past_event}}" == "True") {
                document.getElementById('register_btn').disabled = true;
                document.getElementById('add_calendar_btn').disabled = true;
            }
            else if("{{is_registered}}" == "True") {
                console.log("JS: User is already registered");
                document.getElementById('register_btn').value = 'Cancel Registration';
                document.getElementById('register_btn').style.background='#808080';
            }
            else {
                console.log("JS: User is not registered");
                document.getElementById('add_calendar_btn').disabled = true;
            }
        </script>
    {% endblock %}
</div>
{% endblock %}