{% extends "base.html" %}
<!-- This is the general template for showcasing event descriptions on organiser side-->

{% block title %}Event's Page{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light custom-navbar">
        <a class="navbar-brand" href="/">
          <h3 class="nav-logo"> UofT Event<span class="hub">Hub</span>  </h3>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="padding-right: 5vw;" >
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
            </li>
        
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Profile
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </li>
            </ul>
        </div>
    </nav>
{% endblock %} 

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-info" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}
        <div style="display: flex;">
            <form action="/events/edit_event/{{event.id}}" method="GET">
                <button type="submit" class="btn btn-primary" name="update-action" value="update">Edit Event</button>
            </form>
            <form action="/events/delete_event/{{event.id}}" method="POST" onsubmit="return confirmDelete();" style="margin-left: 50px;">
                <button type="submit" class="btn btn-danger" name="update-action" value="delete">Delete Event</button>
            </form>
        </div>
        <div class="page-header">
            <h1>{{event.name}}</h1>
            <p>{{event.description}}</p>
            <p>Venue: {{event.venue}}</p>
            <p>No of Registrations: {{num_of_registrations}} / {{event.max_capacity}}</p>
        </div>
        <div>
          <img src="{{ url_for ('static', filename='event-assets/event_banner_' + event.id + '.png')}}" class="img-rounded" alt="Event Banner">
        </div>
        <script>
            function confirmDelete() {
                return confirm("Are you sure you want to delete this event?");
            }
        </script>
        
{% endblock %}
</div>
{% endblock %}