{% extends "base.html" %}
<!-- This is the general template for showcasing events -->

{% block title %}Event's Page{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}
        <div class="page-header">
            <h1>{{event.name}}</h1>
            <p>{{event.description}}</p>
            <p>Venue: {{event.venue}}</p>
        </div>
        <img src="send_file/event_banner_{{event.id}}.png" class="img-rounded" alt="Event Banner">
    {% endblock %}
</div>
{% endblock %}