{% extends "base.html" %}
<!-- This is the general template for showcasing events -->

{% block title %}My Account Page{% endblock %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<div class="container">
    <!-- Validation messages when user updates his preference -->
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}
    <div class="page-header">
        <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Register to UofT Event Hub</p>
    </div>

    {% endblock %}
</div>
{% endblock %}