{% extends "base.html" %}
{% block title %}Organizer's Page{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}
        <div class="page-header">
            <h1>MAIN ORGANIZER PAGE</h1>
        </div>
        <p> Interested in adding an event? <a href="/events/create_event">Create Event Post!</a> </p>
        <h2>My Events List</h2>
        <ul>
            <!-- List of events hosted by the logged in Organizer  -->
            {% for event_data in my_events_data %}
            <li><a href = "/events/admin/{{ event_data.id }}">{{ event_data.name }}</a></li>
            {% endfor %}    
        </ul>
    {% endblock %}
</div>
{% endblock %}