{% extends "base.html" %}
{% block title %}Organizer's Page{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light custom-navbar">
        <a class="navbar-brand" href="/">
          <h3 class="nav-logo"> UofT Event<span class="hub">Hub</span>  </h3>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="padding-right: 5vw;" >
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
            </li>
        
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Profile
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </li>
            </ul>
        </div>
    </nav>
{% endblock %} 

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}
        <div class="page-header">
            <h1>MAIN ORGANIZER PAGE</h1>
        </div>
        <p> Interested in adding an event? <a href="/events/create_event">Create Event Post!</a> </p>
        <h2>My Events List</h2>
        <ul>
            <!-- List of events hosted by the logged in Organizer  -->
            {% for event_data in my_events_data %}
            <li><a href = "/events/admin/{{ event_data.id }}">{{ event_data.name }}</a></li>
            {% endfor %}    
        </ul>
    {% endblock %}
</div>
{% endblock %}