{% extends "base.html" %}

{% block title %}All Organizers for Users{% endblock %}

{% block content %}
    {% block page_content %}

        <div class="page-header">
            <h1 style="color: #050151;">List of Organizers</h1>
        </div>

        <ul>
            {% for organizer_username, organizer_name in organizers %}
                <li><a href="/user/organizers/{{ organizer_username }}">{{ organizer_name }}</a></li>
            {% endfor %}
        </ul>
    {% endblock %}
</div>
{% endblock %}