{% import "bootstrap/wtf.html" as wtf %}
{% extends "bootstrap/base.html" %}

{% block title %}User's Page{% endblock %}
{% block navbar %}
<div class="navbar navbar-blue" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="https://static.wixstatic.com/media/1d31d6_d726d86aa2c84afb8db3372c4236ae15~mv2.jpg/v1/crop/x_0,y_0,w_2000,h_1850/fill/w_880,h_814,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/2650152_edited.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
                UofT Event Hub
              </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/">Engineering</a></li>
                <li><a href="/">Arts & Science</a></li>
                <li><a href="/">Rotman</a></li>
                <li><a href="/">Cultural</a></li>
                <li><a href="/">Others</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout">Log out</a></li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}
        <div class="page-header">
            <h1 style="color: #050151;">University of Toronto Events</h1>
        </div>
    {% endblock %}
</div>
{% endblock %}