{% extends "base.html" %}

{% block title %}Organizer Main Page for Users{% endblock %}

{% block content %}
    {% block page_content %}
    <div class="page-header">
        <h2 style="color: #050151;">Upcoming Events</h2>
    </div>

    <ul>
        {% for event in upcoming_events %}
            <li><a href="/">{{ event.name }}</a></li>
        {% endfor %}
    </ul>

        <div class="page-header">
            <h2 style="color: #050151;">Past Events</h2>
        </div>

        <ul>
            {% for event in past_events %}
                <li><a href="/">{{ event.name }}</a></li>
            {% endfor %}
        </ul>
    {% endblock %}
</div>
{% endblock %}