{% extends "base.html" %}

{% block title %}User's Events Page{% endblock %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}" role="alert">
        <button type="button" class="btn-close" data-dismiss="alert"></button>
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% block page_content %}

        <script>
            $(document).ready(function() {
                let debounce;
                $('.search-box').on('keydown', function (e) {
                  clearTimeout(debounce)
                  debounce = setTimeout(() => {
                          getAutoComplete();  
                  }, 300);
                })
            })

            function getAutoComplete() {
              const query = $('.search-box').val();
              console.log(query)
              fetch(`http://localhost:5000/search?search=${encodeURIComponent(query.trim())}`)
                .then((resp) => resp.json())
                .then((data) => {
                        $('.results').empty();
                        for (let i = 0; i < data.length; i++) {
                                $('.results').append(`<li>${data[i]}</li>`)
                        }
                      })
            }
        </script>

        <div class="page-header">
            <h1>My Events</h1>
        </div>
        <form action="{{ url_for('search.search_events', filter=filter) }}" method="post">
            <input class="search-box" name="query" id="search-text">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="clear-search-button" value="clear">Clear Search</button>
        </form>
        <form action="{{ url_for('filter.filter_events', search=search) }}" method="post">
            {% for filter_tag in filter_tags %}
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="filter-tag" value="{{filter_tag | lower}}">{{filter_tag}}</button>
            {% endfor %}
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="filter-tag" value="clear">Clear Filters</button>
        </form>
        <h2>My Events</h2>

        <ul class="results">
            {% for key, value in event_data.items() %}
            <li><a href = "/events/{{ key }}">{{ value.name }}</a></li>
            {% endfor %}
        </ul>
    {% endblock %}
</div>
{% endblock %}