{% extends "base.html" %}

{% block title %}Organizer Main Page for Users{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}" role="alert">
        <button type="button" class="btn-close" data-dismiss="alert"></button>
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% block page_content %}
    <div class="page-header">
        <h2 style="color: #050151;">Upcoming Events</h2>
    </div>

    <ul>
        {% for event in upcoming_events %}
            <li><a href="/">{{ event.name }}</a></li>
        {% endfor %}
    </ul>

        <div class="page-header">
            <h2 style="color: #050151;">Past Events</h2>
        </div>

        <ul>
            {% for event in past_events %}
                <li><a href="/">{{ event.name }}</a></li>
            {% endfor %}
        </ul>
    {% endblock %}
</div>
{% endblock %}