{% import "bootstrap/wtf.html" as wtf %}
{% extends "bootstrap/base.html" %}

{% block title %}User's Events Page{% endblock %}
{% block navbar %}
<nav class="navbar navbar-blue">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <!-- <img src="https://w1.pngwing.com/pngs/759/630/png-transparent-calendar-calendar-date-symbol-blue-text-line-area-rectangle.png" width="30" height="30" class="d-inline-block align-top navbar-left" alt=""> -->
          <big>UofT Event Hub</big>
        </a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/">Engineering</a></li>
        <li><a href="/">Arts & Science</a></li>
        <li><a href="/">Rotman</a></li>
        <li><a href="/">Cultural</a></li>
        <li><a href="/">Others</a></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg" width="40" height="40" class="rounded-circle">
          </a>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" style="color: #00009f;" href="#"><span class="glyphicon glyphicon-user"></span> My profile</a></li>
            <li><a class="dropdown-item" style="color: #00009f;" href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
            <li><a class="dropdown-item" style="color: #00009f;" href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

{% endblock %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}

        <script>
            $(document).ready(function() {
                console.log("Hello")
                let debounce;
                $('.search-box').on('keydown', function (e) {
                  clearTimeout(debounce)
                  debounce = setTimeout(() => {
                          getAutoComplete();  
                  }, 300);
                })
            })

            function getAutoComplete() {
              const query = $('.search-box').val();
              console.log(query)
              fetch(`http://localhost:5000/search?search=${encodeURIComponent(query.trim())}`)
                .then((resp) => resp.json())
                .then((data) => {
                        $('.results').empty();
                        for (let i = 0; i < data.length; i++) {
                                $('.results').append(`<li>${data[i]}</li>`)
                        }
                      })
            }
        </script>

        <div class="page-header">
            <h1 style="color: #050151;">University of Toronto Events</h1>
        </div>
        <form action="{{ url_for('search.search_events', filter=filter) }}" method="post">
            <input class="search-box" name="query" id="search-text">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="clear-search-button" value="clear">Clear Search</button>
        </form>
        <form action="{{ url_for('filter.filter_events', search=search) }}" method="post">
            {% for filter_tag in filter_tags %}
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="filter-tag" value="{{filter_tag | lower}}">{{filter_tag}}</button>
            {% endfor %}
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="filter-tag" value="clear">Clear Filters</button>
        </form>
        <h2>My Events</h2>
        <!-- <ul>
            {% for event_data in events_data %}
            <li>
                {{ event_data }}
                <form action="{{ url_for('user.submit_rating') }}" method="post">
                    <input type="hidden" name="event_id" value="{{ event_data.id }}">
                    <label for="rating">Rate this event:</label>
                    <select name="rating" id="rating">
                        <option value="1">1 (Poor)</option>
                        <option value="2">2 (Fair)</option>
                        <option value="3">3 (Good)</option>
                        <option value="4">4 (Very Good)</option>
                        <option value="5">5 (Excellent)</option>
                    </select>
                    <button type="submit">Submit Rating</button>
                </form>
            </li>
            {% endfor %} -->
            <!-- The for loop block below is only for testing to see if user inputs for ratings are actually being stored in the database  -->
            <!-- {% for event_rating in events_ratings %}
            <li>{{event_rating}}</li>
            {% endfor %}   -->

        <ul class="results">
            {% for key, value in event_data.items() %}
            <li><a href = "/events/{{ key }}">{{ value.name }}</a></li>
            {% endfor %}
        </ul>
    {% endblock %}
</div>
{% endblock %}